*.class
*.log
.idea/
*.iml

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
src/main/scala/de/tu_berlin/dima/impro3/TsneHelpers.scala.orig
src/main/scala/de/tu_berlin/dima/impro3/Tsne.scala.orig
src/test/scala/TsneHelpersTestSuite.scala.orig
